* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  line-height: 1;
  background-color: #FFFFFF;
}

/**
 * resets
 */
h1,
h2 {
  margin: 0;
}

img {
  vertical-align: middle;
}

/**
 * helpers
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/**
 * header
 */
header {
  position: absolute;
}

/**
 * jumbotron
 */
.jumbotron {
  height: 100%;
  position: relative;
}

.jumbotron .logo {
  position: absolute;
  top: 64px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

.jumbotron .logo img {
  display: block;
  margin-bottom: 16px;
}

.jumbotron .logo h1,
.jumbotron .logo h2 {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.jumbotron .logo h1 {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 4px;
}

.jumbotron .logo h2 {
  font-size: 1em;
  font-weight: 300;
}

.jumbotron nav {
  height: 100%;
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34,34,34,0.8);
}

.jumbotron nav div {
  position: relative;
  height: 20%;
  color: #999999;
  font-weight: 300;
  font-size: .75em;
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
}

.jumbotron nav div.active {
  color: #FFFFFF;
  border-right: 2px solid #FFFFFF;
}

.jumbotron nav div:hover {
  color: #FFFFFF;
  border-right: 2px solid #FFFFFF;
  cursor: pointer;
}

.jumbotron nav div span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(270deg);
     -moz-transform: translateY(-50%) rotate(270deg);
      -ms-transform: translateY(-50%) rotate(270deg);
       -o-transform: translateY(-50%) rotate(270deg);
          transform: translateY(-50%) rotate(270deg);
}

.jumbotron .slider {
  height: 100%;
  width: 100%;
  background-image: url(../img/rolls.jpg);
  background-size: cover;
  background-position: 50%;
}

.jumbotron .slider img {
  display: block;

}
